<%- include('./partials/header') %>
<main class="text-center py-16 bg-white">
    <h2 class="text-2xl md:text-4xl font-[Newsreader] text-gray-800">
        "Turn the <span class="italic">Page</span> to Your <span class="italic">Next Favorite Book</span>,<br> Delivered
        Straight to Your Door."
    </h2>
    <a href="/shop"
        class="mt-6 inline-block bg-green-900 text-white font-[Raleway] py-3 px-6 rounded-xl hover:bg-green-800 transition">
        Browse Our Store
    </a>
</main>

<!-- Images Section -->
<section class="flex flex-wrap justify-center gap-8 p-8 bg-gray-50">
    <div class="max-w-sm w-84 h-92">
        <img src="/images/bookcover1.jpg" alt="Book and bag" class="rounded-md shadow-md w-full h-full object-cover">
    </div>
    <div class="max-w-sm w-64 h-72 mt-24">
        <img src="/images/bookcover2.jpg" alt="Flowers and book" class="rounded-md shadow-md w-full h-full object-cover">
    </div>
</section>
         
    <div class="container mx-auto px-8 py-8 mt-32 ">
        <h2 class="text-center text-5xl font-[Newsreader] mb-24">Our Best Sellers</h2>
        <div class="flex flex-wrap justify-center gap-4">
            <!-- Image 1 -->
            <div class="flex justify-center">
            <img src="/images/All the Tomorrows [Book].jpg" alt="Best Seller 1"
                class="w-40 h-60 object-cover rounded-md">
            </div>
            <!-- Image 2 -->
            <div class="flex justify-center">
            <img src="/images/Present Future_ Business, Science, And The Deep Tech Revolu___.jpg" alt="Best Seller 2"
                class="w-40 h-60 object-cover rounded-md">
            </div>
            <!-- Image 3 -->
            <div class="flex justify-center">
            <img src="/images/How the Earth got its Beauty.jpg" alt="Best Seller 3"
                class="w-40 h-60 object-cover rounded-md">
            </div>
            <!-- Image 4 -->
            <div class="flex justify-center">
            <img src="/images/Wings of Fire.jpg" alt="Best Seller 4" class="w-40 h-60 object-cover rounded-md">
            </div>
            <!-- Image 5 -->
            <div class="flex justify-center">
            <img src="/images/These Historical Fiction Novels Will Sweep You Away.jpg" alt="Best Seller 5"
                class="w-40 h-60 object-cover rounded-md">
            </div>
            <!-- Image 6 -->
            <div class="flex justify-center">
            <img src="/images/Robin_ The Definitive Biography Of Robin Williams.jpg" alt="Best Seller 6"
                class="w-40 h-60 object-cover rounded-md">
            </div>
        </div>
    </div>


    

    <%- include('./partials/footer') %>