<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap" rel="stylesheet">
</head>

<!-- Header -->
<header class="bg-white border-b shadow-sm">
    <div class="container mx-auto flex justify-between items-center p-4">
        <nav class="w-full"></nav>
            <ul class="flex justify-end space-x-6 text-gray-700 font-semibold font-[Reem Kufi Fun]">
            <li><a href="/" class="hover:bg-green-900 hover:text-white rounded-xl p-2">HOME</a></li>
            <li><a href="/store" class="hover:bg-green-900 hover:text-white rounded-xl p-2">STORE</a></li>
            <li><a href="/blog" class="hover:bg-green-900 hover:text-white rounded-xl p-2">BLOG</a></li>
            <li><a href="/cart" class="hover:bg-green-900 hover:text-white rounded-xl p-2">🛒</a></li>
            <li><a href="/login" class="hover:bg-green-900 hover:text-white rounded-xl p-2">LOGIN</a></li>
            </ul>
        </nav>
    </div>
</header>

